# Django settings
# --- DO ZMIANY / TO BE CHANGED ---
# Ustaw na False w środowisku produkcyjnym
DEBUG=True

# Ustaw silny, losowy klucz sekretny w środowisku produkcyjnym
SECRET_KEY=django-insecure-hu((5hfg#&=ay!eoeoyvpjslv(x^6pzzn6*0n5vvmsvf*x@b=1

DATABASE_PATH=/data/db.sqlite3

# Dodaj swoje domeny/IP rozdzielone przecinkami w środowisku produkcyjnym
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Django Superuser credentials (automatically created on Docker Compose startup)
# --- DO ZMIANY / TO BE CHANGED ---
# Ustaw bezpieczny login i hasło dla administratora
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com

