# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environments
.env
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/


